.container {
    margin: 2rem auto;
    padding: 1rem;
    background-color: #252526;
    max-width: 1400px;
}

.universeListContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

@media screen and (max-width: 800px) {
    .universeListContainer {
        flex-direction: column;
    }
}

.headingContainer {
    display: flex;
}

.heading {
    flex-grow: 1;
}
